<html>
<style>
    .nav-link {
        margin: 20px;
    }
</style>
<body>
<table align="center">
    <tr>
        <th style="font-size: 20px"><br>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarNav"
                     style="background-color: yellow;padding-bottom: 10px;padding-top: 10px;width: 1350px">
                    <a class="nav-link" href="#">Django</a>
                    <a class="nav-link" href="{% url 'Homeindex' %}">Home</a>
                    <a class="nav-link" href="{% url 'studentLogin' %}">Login</a>
                    <a class="nav-link" href="{% url 'studentRegister' %}">Register</a>
                    <a class="nav-link" href="{% url 'forgotPassword' %}">Forgot Password</a>
                    <a class="nav-link" href="{% url 'adminLogin' %}">Admin</a>
                </div>
            </nav>
        </th>
    </tr>
</table>
</body>
</html>


